#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  user-select:none;
  background-color: #8CA78A;
  width: 100%;
  height: 100vh;
  
}

.logo {
  height: 45em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-right: 60em;
  margin-top: -15em;
}
.cup {
  height: 7em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-left: 50em;
  margin-top: -18em
}
.signup {
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: top;
  height: 50%;
  margin-top: -40em;
  text-align: left;
  margin-left: 20em;
}
.register {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5B4040;
  color: white;
  margin-left:40em;
  margin-top:2em;
  width: 10em;
  
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

h1 {
  color: #5B4040;
  margin-top: 0;
  font-family: "Italianno-Regular", cursive;
}

h2 {
  color: #5B4040;
  margin-top: 0;
  font-family: "Italianno-Regular", cursive;
}
h3 {
  color: #5B4040;
  margin-top: -5em;
  margin-bottom: 0em;
  font-family: "Italianno-Regular", cursive;
}
h4 {
  color: #5B4040;
  margin-top: 2em;
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  
  font-family: "Italianno-Regular";
  src: url("/fonts/Italianno-Regular.ttf") format("truetype");
 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}